<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.mehdiyari.fallery">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:requestLegacyExternalStorage="true">
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".main.ui.FalleryActivity"
            android:theme="@style/Fallery.Light" />
    </application>

</manifest>